body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  font-weight: 400 !important;
}

hr {
  height: 1px;
  width: 33%;
  color: #1976FF;
  background-color: #1976FF !important;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.appbar {
  margin: 0 12px !important;
}

.tabs {
  margin-top: 5px !important;
  min-height:100vh !important;
  height: max-content
}

.tab:active{
  background-color: red !important;
}

.btnTextColor {
  color: #FFFFFF;
}

.linkBorder {
  border-top: solid 1px ;
  border-image-source: linear-gradient(to right,white, rgba(25, 118, 210, 0.3), white);
  border-image-slice: 1;
}

.linkBorderVertical {
  border-left: solid 5px !important;
  border-image-source: linear-gradient(white, rgba(25, 118, 210, 1) 10%, white) !important;
  border-image-slice: 20 !important;
}
